.bold { font-weight: bold; }
.italic { font-style: italic; }
.keyword { color: #07B; }
.string { color: #970; }
.comment { color: #173; }
.var { color: #871094; }
.macro { color: #871094; }
.attrib { color: #871094; }
.lineno { color: #666; }
.contin { color: #880; }
.label { color: #880; }
.def { color: #880; }
.type { color: #4a9; }
.class { color: bold #4a9; }
.selector { color: #880; }
.property { color: #4a9; }
.tag { color: #880; }
.incode { color: #871094; }
.builtin { color: #825; }
.constant { color: #b0b; }
.lispkw { color: #871094; }
.entity { color: #4a9; }
.operator { color: #4a9; }
.escape { color: #880; }
.qualifier { color: #871094; }
.immediate { color: #4a9; }
.register { color: #b0b; }
.directive { color: #c31; }
.warning { color: #c31; }
.math { color: #b0b; }

.num { color: #000000; } /* number */
.str { color: #67580c; } /* string */
.esc { color: #80216b; } /* escape sequence */
.ipl { color: #008080; } /* string interpolation */
.ppc { color: #685809; } /* preprocessor */
.pps { color: #273122; } /* preprocessor string */
.com { color: #0e6729; } /* multiline comment */
.slc { color: #0e6729; } /* single line comment */
.lin { color: #75715e; } /* wut */
.opt { color: #000000; } /* operator */
.kwb { color: #8c1a94; } /* type */
.kwc { color: #6b2c75; } /* builtin */
.kwd { color: #9609a7; } /* constant */
